<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>CV Match Rate</title>
</head>

<body>
    <h1 style="text-align: center; color: #112d4e;">CV compare</h1>
    <form method="POST">
        <table>
            <tr>
                <th style="color: #112d4e;">The Job Description</th>
            </tr>
            <tr>
                <td>
                    <textarea type="text" id="jdtxt" name="jdtxt" style="height:200px"></textarea>
                </td>
            </tr>
        </table>
        <div class="content-section">
            <input style="text-align: center; color:#252a34;" type="submit" value="Compare">
        </div>
    </form>

</body>

</html>